// # Place all the behaviors and hooks related to the matching controller here.
// # All this logic will automatically be available in application.js.
// # You can use CoffeeScript in this file: http://coffeescript.org/

$(document).ready(function() {

  function initialize() {
    var myCoords = {
      lat: latitude,
      lng: longitude
    };
    var mapOptions = {
      center: myCoords,
      zoom: 8
    };

    var map = new google.maps.Map(document.getElementById('destination-map'),
      mapOptions);

    var rubyIcon = {
      url: '<%= image_path 'ruby.png' %>',
      scaledSize: new google.maps.Size(40, 50),
    };


    var marker = new google.maps.Marker({
      position: myCoords,
      map: map,
      title: 'You are Here',
      icon: rubyIcon,
      animation: google.maps.Animation.DROP
    });

    var contentString = '<h2>You wanna go <em>here?</em></h2>' +
      '<p>Where all your dreams come true.</p>';

    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

    google.maps.event.addListener(marker, 'click', function() {
       infowindow.open(map,marker);
    });

  }

  google.maps.event.addDomListener(window, 'load', initialize);
});
